html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background:grey;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  color: #000;
}
button{
  color: #000;
  text-decoration: none;
  font-family: 'VT323', monospace;
  border: none;
}
button:hover{
  opacity: 0.7;
  cursor: pointer;
}
.container{
  
}
#general-wrapper{
  margin: 0 auto;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#general-wrapper > .overlay{
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height:350px;
  transition: all 1s;
}
#general-wrapper > .overlay.fade-out{
  opacity: 0;
  left:-100%;
}
#game-states, #game-wrapper .start-screen-wrapper,.gameover-screen-wrapper{
  overflow: hidden;
  width: 650px;
  height:350px;
  align-self: center;
  margin: 0 auto;
  max-width: 100%;
}
.start-screen-wrapper,.gameover-screen-wrapper{
  background: #fff;
}
.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#loading {
}
#game-board{
  margin-left: -100px;
}

/*Define rotate classes for different animations*/
#game-board.rotate-fw{
  -webkit-animation: rotation-fw 4s infinite linear;
}
#game-board.rotate-bw{
  -webkit-animation: rotation-bw 3s infinite linear;
}
#game-board.rotate-crazy{
  -webkit-animation: rotation-fw-bw-fw-bw 10s linear;

}


/*Define rotate animations for canvas to rotate*/

@-webkit-keyframes rotation-fw-bw-fw-bw {
  0% {
      -webkit-transform: rotate(0deg);
  }
  25%{
      -webkit-transform: rotate(45deg);
  }
  30%{
    -webkit-transform: rotate(45deg);
  }
  55%{
    -webkit-transform: rotate(60deg);
  }
  70%{
    -webkit-transform: rotate(60deg);
  }
  80%{
    -webkit-transform: rotate(40deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation-bw {
  0% {
      -webkit-transform: rotate(100deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
  }
}