html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
}
body{
  background:black;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  color: #fff;
  text-transform: uppercase;
}
button{
  color: #000;
  text-decoration: none;
  font-family: 'VT323', monospace;
  padding: 5px;
  border: none;
  transition: all .5s;
}

.start-screen-wrapper .play-btn-dev:after,
.start-screen-wrapper .play-btn-dev:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.start-screen-wrapper .play-btn-dev{
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 1px 20px 7px;
  text-decoration: none;
  color: white;
  box-shadow: inset -3px -3px 0px 0px #4AA52E;
  margin:50px 0;
}
.start-screen-wrapper .play-btn-dev:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.start-screen-wrapper .play-btn-dev:after {
  left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
}
.start-screen-wrapper .btn{
  background:transparent;
  color: #000;
  border:none;
  font-size: 18px;
}
button:hover{
  opacity: 0.7;
  cursor: pointer;
}
button:active,button:focus{
  outline: none;
  border:none;
}

.container{
  
}
#general-wrapper{
  margin: 0 auto;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#overlay-triangle-up {
  width: 0;
  height: 0;
  border-left: 702px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 350px solid #000;
  transition: .8s ease-in-out;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  opacity: 1;
}
#overlay-triangle-down {
  opacity: 1;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 702px solid transparent;
  border-top: 350px solid #000;
  transition: .8s ease-in-out;
  float: left;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
}
#overlay-triangle-down.move{
  left:-100%;
  top: -100%;
}
#overlay-triangle-up.move{
  top: 200%;
  right:-100%;
}
#game-states{
  position: relative;
}
#game-states, #game-wrapper .start-screen-wrapper,#game-over-section{
  overflow: hidden;
  width: 700px;
  height:350px;
  align-self: center;
  margin: 0 auto;
  max-width: 100%;
}
.start-screen-wrapper h1{
  font-size: 40px;
  text-transform: uppercase;
  text-shadow:
  color: #e0eff2;
  text-shadow: -2px 3px 0 #000, 0px 6px 0 #000;    
  margin-bottom:0px;
}
.start-screen-wrapper h2{
  margin-bottom: 20px;
}
.start-screen-wrapper p{
    width: 200px;
    text-align: center;
    margin-top: 20px;
}
#game-over-section h1{
  margin-top: 50px;
}

.start-screen-wrapper{
  background: linear-gradient(-45deg, #ff9839, #fd555b, #E73C7E, #02add9, #54db40, #fee819);
  background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.start-screen-wrapper .content-wrapper{
  background-image: url('../images/grid.png');
  -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
#high-score-section h1{
  margin-top: 20px;
}
.high-score-list{
  margin: 10px 0 0px;
  padding: 0;
  list-style-type: none;
  width: 47%;
}
.high-score-list li{
  color:#07b0cf;
  counter-increment: step-counter;
  font-size: 20px;
}
.high-score-list li:before{
  content: counter(step-counter);
  margin-right: 5px;
  width:40px;
  border-radius: 3px;
  display: inline-block;
  width:30px;
  text-align: center;
}
.high-score-list li:nth-of-type(2){
  color: #187a4e;
}
.high-score-list li:nth-of-type(3){
  color: #6ee032;
}
.high-score-list li:nth-of-type(4){
  color: #23A6D5;
}
.high-score-list li:nth-of-type(5){
  color: #90a615;
}
.high-score-list li:nth-of-type(6){
  color: #e1e81b;
}
.high-score-list li:nth-of-type(7){
  color: #ff8d3e;
}
.high-score-list li:nth-of-type(8){
  color: #e9584c;
}
.high-score-list li:nth-of-type(9){
  color: #c412b4;
}
.high-score-list li:nth-of-type(10){
  color: #953eef;
}
.high-score-list span{
  width: 40px;
  display: inline-block;
}
.canvas-wrapper{
  position: relative;
}
.canvas-wrapper .score{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 25px;
  height: 30px;
  line-height: 26px;
  z-index: 3;
}
.canvas-wrapper .high-score-message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-size: 25px;
  z-index: 5;
  opacity: 0;
  transition: all 1s;
}
.canvas-wrapper .high-score-message.active{
  -webkit-animation: Grow 1.2s ease-out;
	-moz-animation: Grow 1.2s ease-out;
	animation: Grow 1.2s ease-out;
}
#game-over-section{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#high-score-section{
  text-transform: uppercase;
  width: 400px;
  height: 98%;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 1%;
  z-index: 4;
  background:#000;
  color: #fff;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  opacity: 1;
  transition: all .5s;
}
.content-wrapper.fade{
  opacity: 0;
}
#game-over-section .content-wrapper{
  justify-content: space-between;
}
.game-over-footer, .high-score-footer {
  text-align: center;
  background: #000;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.start-screen-footer{
  padding-left: 10px;
  margin-top: 10px;
}
.game-over-footer .btn, .high-score-footer .btn{
  color: #fff;
  background:#000;
  font-size: 20px;
  width: 33.33333%;
  text-align: center;
  text-transform: uppercase;
}
.start-screen-footer,.start-screen-footer .btn{
  background:transparent;
  width: 100%;
  font-size: 20px;
}
#game-board{
  margin-left: -75px;
}
/*Define rotate classes for different animations*/
#game-board.rotate-fw{
  -webkit-animation: rotation-fw 4s infinite linear;
}
#game-board.rotate-bw{
  -webkit-animation: rotation-bw 3s infinite linear;
}
#game-board.rotate-crazy{
  -webkit-animation: rotation-fw-bw-fw-bw 10s linear;
}
#game-board.incline{
  -webkit-animation: incline 5s linear;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-webkit-keyframes Grow {
  0% {
    font-size: 50px;
    opacity: 1;
	}
	50% {
    font-size: 150px;
    opacity: .7;
	}
	100% {
    font-size: 200px;
    opacity: 0;
	}
}

@-moz-keyframes Grow {
  0% {
    font-size: 50px;
    opacity: 1;
	}
	50% {
    font-size: 150px;
    opacity: .7;
	}
	100% {
    font-size: 200px;
    opacity: 0;
	}
}

@keyframes Grow {
	0% {
    font-size: 50px;
    opacity: 1;
	}
	50% {
    font-size: 150px;
    opacity: .7;
	}
	100% {
    font-size: 200px;
    opacity: 0;
	}
}

/*Define rotate animations for canvas to rotate*/

@-webkit-keyframes rotation-fw-bw-fw-bw {
  0% {
      -webkit-transform: rotate(0deg);
  }
  15%{
      -webkit-transform: rotate(35deg);
  }
  20%{
    -webkit-transform: rotate(35deg);
  }
  24%{
    -webkit-transform: rotate(35deg);
  }
  40%{
    -webkit-transform: rotate(35deg);
  }
  50%{
    -webkit-transform: rotate(20deg);
  }
  80%{
    -webkit-transform: rotate(20deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rotation-fw-bw-fw-bw {
  0% {
      -moz-transform: rotate(0deg);
  }
  15%{
      -moz-transform: rotate(35deg);
  }
  20%{
    -moz-transform: rotate(35deg);
  }
  24%{
    -moz-transform: rotate(35deg);
  }
  40%{
    -moz-transform: rotate(35deg);
  }
  50%{
    -moz-transform: rotate(20deg);
  }
  80%{
    -moz-transform: rotate(20deg);
  }
  100% {
      -moz-transform: rotate(0deg);
  }
}
@keyframes rotation-fw-bw-fw-bw {
  0% {
      transform: rotate(0deg);
  }
  15%{
      transform: rotate(35deg);
  }
  20%{
    transform: rotate(35deg);
  }
  24%{
    transform: rotate(35deg);
  }
  40%{
    transform: rotate(35deg);
  }
  50%{
    transform: rotate(20deg);
  }
  80%{
    transform: rotate(20deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@-webkit-keyframes incline {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
      -webkit-transform: rotate(-20deg);
  }
  30%{
    -webkit-transform: rotate(-30deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
  }
}